* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    flex-wrap: wrap;
}

.fullCont {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.bmain-container .posttitle {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Work Sans;
    font-size: 40px;
    margin-bottom: 25px;
    /* border: 2px solid red; */
}

.latest-tag {
    color: rgb(252, 252, 252);
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    width: 68px;
    height: 32px;
    background-color: #4B6BFB;
    border-radius: 5px;
    display: inline;
    text-align: center;
    margin-bottom: 10px;

}

.bmain-container {
    display: flex;
    flex-direction: column;
    width: 50rem;
}

.bmain-container p {
    color: white;
}

.image {
    width: 100%;
    height: fit-content;
    margin-bottom: 1rem;
}

.image img {
    width: 100%;
    height: 100%;
}

.publisher {
    display: flex;
    height: 28px;
    width: 413px;
    margin-bottom: 5px;
    color: #696A75;
}

.publisher .author-text {
    margin-top: 4px;
}

.publisher .user-icon {
    font-size: 28px;
}

.postText p {
    font-size: 18px;
    font-family: sans-serif;
}

.box {
    height: 8rem;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #37416e;
}

.box p {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.adBox {
    display: none !important;
    height: 100px;
    width: 750px;
    background-color: #242535;
    color: #696A75;
    margin-left: 20px;
    margin-bottom: 30px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .bmain-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        padding: 7px;
    }

    .adBox {
        width: 100%;
    }

    .box p {
        font-size: 15px;
    }

    .image img {
        height: 30vh;
    }
}
